<div class="container">
  <form [formGroup]="contactForm" (ngSubmit)="send()" #form="ngForm" class="flex flex-col w-4/5 lg:w-3/5 m-auto mt-4">
    <h1 class="text-4xl font-semibold mb-3">Contact Form</h1>
    <mat-form-field appearance="fill">
      <mat-label>name</mat-label>
      <input type="text" matInput id="name" autocomplete="off" formControlName="name" #name required="required">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>email</mat-label>
      <input type="email" matInput id="email" autocomplete="off" formControlName="email" #name required="required">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>message</mat-label>
      <textarea matInput id="message" autocomplete="off" formControlName="message" #message
        required="required"></textarea>
    </mat-form-field>


    <button class=" btn btn-danger mt-3">Send</button>
  </form>
</div>