<div class="adiclub flex flex-col items-center justify-center gap-3 mt-5 py-4">
  <p class="text-3xl font-bold">JOIN OUR ADICLUB & GET<br>15% OFF</p>
  <div class="cta_signup bg-black text-white h-max p-3 font-semibold">SIGN UP FOR FREE &RightArrow; </div>
</div>
<div class="navigate mt-5">
  <div class="row grid grid-cols-3 lg:grid-cols-6 gap-3 lg:px-4">
    <div class="col">
      <ul>
        <li><a href="#" class="font-bold">PRODUCTS</a></li>
        <li><a href="#">Shoes</a></li>
        <li><a href="#">Clothing</a></li>
        <li><a href="#">Accessories</a></li>
        <li><a href="#">Gift Cards</a></li>
        <li><a href="#">New Arrivals</a></li>
        <li><a href="#">Best Sellers</a></li>
        <li><a href="#">Release Dates</a></li>
        <li><a href="#">Sale</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><a href="#" class="font-bold">Soccer</a></li>
        <li><a href="#">Running</a></li>
        <li><a href="#">Basketball</a></li>
        <li><a href="#">Football</a></li>
        <li><a href="#">Outdoor</a></li>
        <li><a href="#">Golf</a></li>
        <li><a href="#">Baseball</a></li>
        <li><a href="#">Tennis</a></li>
        <li><a href="#">Skateboarding</a></li>
        <li><a href="#">Training</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><a href="#" class="font-bold">COLLECTIONS</a></li>
        <li><a href="#">adicolor</a></li>
        <li><a href="#">Ultraboost</a></li>
        <li><a href="#">NMD</a></li>
        <li><a href="#">Forum</a></li>
        <li><a href="#">Superstar</a></li>
        <li><a href="#">Running Shoes</a></li>
        <li><a href="#">adilette</a></li>
        <li><a href="#">Stan Smith</a></li>
        <li><a href="#">adizero</a></li>
        <li><a href="#">Tiro</a></li>
        <li><a href="#">EQT</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><a href="#" class="font-bold">SUPPORT</a></li>
        <li><a href="#">Help</a></li>
        <li><a href="#">Returns & Exchanges</a></li>
        <li><a href="#">Shipping</a></li>
        <li><a href="#">Order Tracker</a></li>
        <li><a href="#">Store Locator</a></li>
        <li><a href="#">Size Charts Shoes</a></li>
        <li><a href="#">Gift Card Balance</a></li>
        <li><a href="#">How To Clean Smith</a></li>
        <li><a href="#">Bra Fit Guide</a></li>
        <li><a href="#">Breathing for Running</a></li>
        <li><a href="#">Promotions</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><a href="#" class="font-bold">COMPANY INFO</a></li>
        <li><a href="#">About Us</a></li>
        <li><a href="#">Student Discount</a></li>
        <li><a href="#">Military & Healthcare Discount</a></li>
        <li><a href="#">adidas Stories</a></li>
        <li><a href="#">adidas Apps</a></li>
        <li><a href="#">Sustainability</a></li>
        <li><a href="#">adiClub</a></li>
        <li><a href="#">Affiliates</a></li>
        <li><a href="#">Press</a></li>
        <li><a href="#">Careers</a></li>
        <li><a href="#">California Transparency in Supply Chains Act</a></li>
        <li><a href="#">Responsible Disclosure</a></li>
        <li><a href="#">Transparency in Coverage</a></li>
        <li><a href="#">Location Selector</a></li>
      </ul>
    </div>
    <div class="col">
      <ul>
        <li><a href="#" class="font-bold">FOLLOW US</a></li>
        <div class="contact grid grid-cols-3 lg:grid-cols-1 lg:text-xl">
          <li><a href="#"><i class="fa fa-facebook"></i></a></li>
          <li><a href="#"><i class="fa fa-instagram"></i></a></li>
          <li><a href="#"><i class="fa fa-twitter"></i></a></li>
          <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
          <li><a href="#"><i class="fab fa-tiktok"></i></a></li>
          <li><a href="#"><i class="fa fa-youtube"></i></a></li>
        </div>
      </ul>
    </div>
  </div>
</div>