<div class="container mt-5">
  <h1 class="italic font-semibold text-3xl">FIFA WORLD CUP QATAR 2022 SOCCER TEAM SHIRTS & GEAR <small
      class="text-xs">[394]</small>
  </h1>
</div>
<div class="container grid sm:grid-cols-2 lg:grid-cols-4 gap-3 mt-5">
  <div class="card hover:scale-105 border p-3 cursor-pointer" *ngFor="let product of productsHomeList">
    <div class="image-container relative">
      <i class="far fa-heart heart absolute"></i>
      <img src="https://jhonatan0912.github.io/ADIDAS-API/{{product.img}}" alt="{{product.name}}" class="img-fluid">
      <p class="price absolute">${{product.price}}</p>
    </div>
    <p>{{product.name}}</p>
    <p class="text-gray-600">{{product.description}}</p>

    <small>{{product.status}}</small>
  </div>
</div>
<app-footer></app-footer>