<div class="container m-auto mt-5">
  <h1 class="font-bold my-5">LISTA DE USUARIOS</h1>
  <table>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>username</th>
        <th>email</th>
        <th>phone</th>
        <th>website</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of usersList">
        <td>{{user.id}}</td>
        <td>{{user.name}}</td>
        <td>{{user.username}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phone}}</td>
        <td>{{user.website}}</td>
      </tr>
    </tbody>
  </table>
</div>